<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>时光格</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>时光格需要访问您的日历来同步节日和纪念日</string>
	<key>NSCameraUsageDescription</key>
	<string>时光格需要访问您的相机，以便拍摄照片并封存为时光信物。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>时光格需要保存您的作品到相册，以便您收藏和分享。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>时光格需要访问您的相册来添加照片到记录中</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>时光格需要发送通知来提醒您记录每日生活</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>时光格需要访问您的位置，以便自动记录地点和获取天气信息</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>时光格需要访问您的位置，以便自动记录地点和获取天气信息</string>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>BackgroundCream</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
